<!-- 
    a-form (paremal ngForm) <- teeb ngForm põhja
    a-formGroup (paremal ngFormGroup) <- teeb FormGroup põhja
    muutuja panna .ts faili mis on paremal pool
    on Submit() funktsioon teha .ts faili
    ReactiveFormsModule app.module.ts faili imports=[] sisse
    ! FormsModule peab olema ka imports=[] 
    
<input formControlName="id" type="number">
<input formControlName="name" type="number">
<input formControlName="price" type="number">
<input formControlName="description" type="number">
<input formControlName="id" type="number">
<input formControlName="id" type="number">
<input formControlName="id" type="number"> -->

<form *ngIf="product" (ngSubmit)="onSubmit()" [formGroup] = "editProductForm">
    <label> Nimi:  </label> <br>
    <input formControlName="name" type="text"> <br>
    <label> Kirjeldus:  </label> <br>
    <input formControlName="description" type="text"> <br>
    <label> Hind:  </label> <br>
    <label>Kategooria</label> <br>
    <select formControlName name="category">
    <option *ngFor="let category of categories" value="{{category.categoryName}}">{{category.categoryName}}</option>
    </select> <br>
    <input formControlName="price" type="number">
    <label>ImgSrc: </label>
    <input formControlName="imgSrc" type="text">
    <label> Aktiivne:  </label>
    <input formControlName="isActive" type="checkbox">
    <button>Muuda</button>
   </form>