<!-- 
    a-form (paremal ngForm) <- teeb ngForm põhja
    a-formGroup (paremal ngFormGroup) <- teeb FormGroup põhja
    muutuja panna .ts faili mis on paremal pool
    on Submit() funktsioon teha .ts faili
    ReactiveFormsModule app.module.ts faili imports=[] sisse
    ! FormsModule peab olema ka imports=[] 
    
<input formControlName="id" type="number">
<input formControlName="id" type="number">
<input formControlName="id" type="number">
<input formControlName="id" type="number">
<input formControlName="id" type="number">
<input formControlName="id" type="number">
<input formControlName="id" type="number"> -->